* {
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px #000 solid;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #854f38;
}

.white {
    background-color: #fae7be;
}

.figure {
    width: 48px;
    height: 48px;
    position: relative;
}